---
http_interactions:
- request:
    method: get
    uri: http://doi.org/10.5281/ZENODO.21430
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: ''
    headers:
      Location:
      - http://zenodo.org/record/21430
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="http://zenodo.org/record/21430">http://zenodo.org/record/21430</a></body></html>
  recorded_at: Tue, 16 Aug 2016 09:04:19 GMT
- request:
    method: get
    uri: http://zenodo.org/record/21430
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n
        \ <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>DataCite-ORCID:
        1.0 - Zenodo</title>\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n  <meta name=\"google-site-verification\" content=\"5fPGCLllnWrvFxH9QWI0l1TadV7byeEvfPcyK2VkS_s\"/>\n
        \ <meta name=\"google-site-verification\" content=\"Rp5zp04IKW-s1IbpTOGB7Z6XY60oloZD5C3kTM-AiY4\"/>\n\n
        \ <link rel=\"author\" href=\"mailto:info@zenodo.org\"/>\n  <link rel=\"canonical\"
        href=\"http://zenodo.org/record/21430\"/>\n  <link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Zenodo RSS\" href=\"/rss\" />\n  <link rel=\"search\" type=\"application/opensearchdescription+xml\"
        href=\"/opensearchdescription\" title=\"Zenodo\"/>\n  <link rel=\"unapi-server\"
        type=\"application/xml\" title=\"unAPI\" href=\"/unapi\"/>\n  <!-- Le HTML5
        shim, for IE6-8 supp[...]
