---
http_interactions:
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?mailto=info@datacite.org&rows=0&source=crossref
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":57969,"items-per-page":0,"events":[]}}'
  recorded_at: Thu, 10 Jan 2019 18:06:07 GMT
recorded_with: VCR 3.0.3
